grpcio==1.0.0
grpc-google-cloud-speech-v1beta1==1.0.1
six==1.10.0
git+ssh://git@bitbucket.org/cirruseo/google_apis_utils.git@feature/2.0#egg=cirruseo-api-utils
git+ssh://git@bitbucket.org/cirruseo/cirruseo-custom-framework.git@feature/2.0#egg=cirruseo-custom-framework
